* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background: #F9F9F9;
}
.section {

    margin: 0 auto;
    width: 1115px;
}

h1 {

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h2 {

    margin-bottom: 94px;
}

h3 {

    font-family: 'Poppins' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    color: #262626;
    width: 400px;
    height:94px;
}


/* header  */

.header {

    width:100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 100%; 
}

/* image  */

.logo {

    width: 234px;
    height: 49px;
    margin-top: 37px;
    margin-left:45px;
    margin-bottom:47px;  
}

/* navigation  */
.navigation {

    gap: 50px;
    display: flex;
    align-items: center;
}

.navigation a {

    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #262626;
}
    

.navigation a:hover {

    color: #4CE0D7;
    
    padding: 3px;
    border-radius: 20px;
}
.header-button {

    width: 144px;
    height: 36px;
    left: 540px;
    border-radius: 40px;
    background: rgba(76, 224, 215, 1);
    padding: 9px 32px;
}
.navigation img {

    padding-right:50px;
}

.container-large {
    
    align-content: center;
    width: 1272px;
    margin: 0 auto;
}
.container-small {
    
    max-width: 1224px;
    margin: 0 auto;
}

/*----------first section ---------------*/


.first-section {

    background: url(./assets/back.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 559px;
    background-position: center;
}

.first-section-content {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
    margin-left:57px;
}

.main-title {

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 46px;
    line-height: 1.5; 
    background:  #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-title2 {

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.5; 
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titles {

    display: flex;
    gap: 10px;
}

.description {

    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5; 
    text-align: left;
    color: #FFFFFF;
    width: 494px;
}

.title-small {

    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.23em;
    text-align: left;
    height: 18px;
    top: 351px;
    left: 141px;
    color: #FFFFFF;
    margin-top: 250px ;
}

/*----------second section------------*/

.second-section-container-small {

    display: flex;
    justify-content: space-between;
}
.secondary-title ,
.fourth-secondary-title {

    width: 282px;
    height: 36px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.second-section-cards {

    display: flex;
    gap: 10px;
}

.second-section-card {

    width: 204px;
    height: 291px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 51px 58px;
    box-shadow: 0px 6px 6px 0px #0000000D;
}
.second-section-card img {

    width: 88px;
    height: 88px;
}

.one {

    margin-top:20px;
}

.button2 {

    width: 144px;
    height: 36px;
    left: 540px;
    border-radius: 40px;
    background: rgba(76, 224, 215, 1);
    text-decoration: none;
    margin-top:29px;
}

.button2 p {
    
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: #262626;  
    text-align: center;
    padding: 10px 40px;
}

.third-section-line {

    margin-top: 88px;
}

.long-line {

    height: 1px;
    background-color:  #BCBCBC;   
}

/*----------third section------------*/

.third-section {

    margin-top: 53px;
    height: 760px;
    border-radius: 20px ; 
    background: #FFFFFF;
}
.third-section-card-image {
    
    height: 360.3041687011719px;
    border-radius: 20px;
    background-size: cover;
    background-image: url(./assets/image.jpg);

}
.third-section-card-image  a {
    text-decoration: none;
    padding: 9.42px 49px;
    border-radius: 40px;
    width: max-content;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #262626;
}
.third-section-card-image-text {

    padding-top: 24px;
    padding-left: 47px;
}
.third-section-card-image-text p {

    width: 233.952105597576px;
    height: 36.49073229348407px;
    text-align: center;
    padding: 10px 81px;
    font-family: 'Poppins' sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 40px;
    background-color: #262626;
    color: #FFFFFF;

}
.third-sec-card-comment-header  {
    
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top:23px;
}
.third-sec-card-header-logo {

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.third-sec-card-header-logo img {

    padding-left:64px;
    padding-right: 21px;
    
}
.third-section-date {

    padding-left:130px;
    padding-right:470px;
}

.third-sec-first-name,
.third-section-date {

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #BCBCBC;
    
}
.comming-inhot {

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.24em;
    color: #F25E5E;

}
.third-sec-card-whole-text {
    
    margin-left: 64px; 
}
.third-sec-text {

    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:29px;   
    padding-top: 29px;

}
#third-sec-text-title {

    width: 100%;
    height: 36px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
}
.third-sec-text p {

    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}
 .read-more0 a { text-decoration: none;
    align-items: center;
    font-family: 'Poppins' , sans-serif;
    color: #4CE0D7;
}
.read-more0  {

    display: flex;
    align-items: center;
    font-family: 'Poppins' , sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    gap:10px;
    color: #4CE0D7;
    padding-top: 29px;
    padding-bottom: 37px;

}

.arrow  {
 font-weight: 900;

}


/* -------------4th Section ---------*/

.trending {
    
    display: flex;
    justify-content: center;
    gap: 59px;
    align-content: center;
}
.trending-cards { 

    width: 565px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 6px 6px 0px #0000000D;
    
}
.trending-card a {
    text-decoration: none;
    padding: 9.42px 49px;
    border-radius: 40px;
    width: max-content;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #262626;

}
#trending-card-image {

    height: 278.0939025878906px;
    object-fit: cover;
    border-radius: 20px;  
    background-image: url(./assets/pexels-david-garrison-2128817\ 1.png)
}

#second-container {
    height: 278.0939025878906px;
    object-fit: cover;
    border-radius: 20px;  
    background-image: url(./assets/pexels-alesia-kozik-6638224\ 1.png)
}

.card-image-text {

    padding-left:34px;
    padding-top: 21px;
}
.card-image-text p {
    
    padding: 9.42px 49px;
    border-radius: 40px;
    width: max-content;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #262626;
}
.card-comment {
    
    margin-left:20px;
}

.trending-card-comment-header {

    width: 534px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
    
}
.header-text-logo {

    display: flex;
    align-items: center;
    gap:19px;
    
}
.card-comment img {

    padding-top: 25.58px;
}
.first-name,
.date {

    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 168px;
    height: 21px;
    color: #BCBCBC;
    padding-top: 13.42px;

}
.trending-sec-comment-title {

    width: 64%;
}
.trending-sec-comment-text p {
    
    width: 400px;
    min-height: 73px;
    justify-content: flex-start;
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #262626;
}
.read-more a {
    text-decoration: none; 
    display: flex;
    align-items: center;
    font-family: 'Poppins' , sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    gap:10px;
    color: #4CE0D7;
    padding-top: 29px;
    padding-bottom: 37px;


}
/*--------------last section-------------*/

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
    gap:49px;
}
.card-container {

    display: flex;
    gap: 46px;
    height: 368px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 6px 6px 0px #0000000D;
}

.last-sec-card-image {
    width: 600px;
    height: 367.40875244140625px;
    border-radius: 20px;
    padding-top:25px;
    padding-left:34px;
}
.last-sec-card-image a {
    text-decoration: none;
    padding: 9.42px 49px;
    border-radius: 40px;
    width: max-content;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #262626;
}

#first-image {
    width:100%;
    background-repeat: no-repeat;
    background-image: url(./assets/Mask\ group\ \(3\).png);
}
#second-image {
    width:100%;
    background-repeat: no-repeat;
    background-image: url(./assets/Mask\ group\ \(4\).png);
}
#third-image {
    width:100%;
    background-repeat: no-repeat;
    background-image: url(./assets/Mask\ group\ \(5\).png);
}
.last-sec-card-image p {
    
    padding: 9.42px 52px;
    border-radius: 40px;
    width: max-content;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #262626;
}

.card-comment-text {
    
    width: 79%;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}
.read-more1 a {
    text-decoration: none; 
    display: contents;
    align-items: center;
    font-family: 'Poppins' , sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    gap:10px;
    color: #4CE0D7;
    
}


/*----------- footer------------- */
 
.footer {

    height: 213px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding-right: 89px;
    background: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
    box-shadow: 6px 0px 6px 0px #0000000D;
    margin-top:69px;
}
.footer-logo {
    
    width: 226px;
    height: 49px;
    margin-left: 84px;

}
.footer-text-nav {

    display: flex;
    gap: 13px;
}
.footer-text p {

    width: 227px;
    height: 42px;
    font-family: 'Poppins' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;

}

.footer-nav-links {

    display: flex;
    gap:20px
    
}
.footer-nav-links img {

    width: 31px;
    height: 31px;

}
.footer-line-container {

    background: #FFFFFF;
    height: 95px;
}
.footer-long-line {

    width: 1267px;
    margin: 0 auto;
    height: 1px;   
    background-color:  #BCBCBC;
    /* Line color */
}

.footer-last-text {

    width: 413px;
    height: 24px;
    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin-top:34px;
    margin-left:88px;

}